#form-new-consultation .modal-header {
  border-bottom: none !important;
}

#form-new-consultation .modal-header h3 {
  font-weight: 700 !important;
  color: #444444;
  font-size: 20px;
}

#form-new-consultation .modal-body {
  margin-top: 10px;
  padding: 10px;
}
