
button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 14px;
  background: #49B4BB;
  color: #FFFFFF;

  border-radius: 8px;
}

button.custom-link {
  background: none;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  width: 180px;
  height: 40px;
  color: #49B4BB;
  text-decoration: none;
  text-align: center;
}

button.custom-link:hover {
  border: 1px solid #49B4BB;
  border-radius: 8px;
}

button[type="submit"] {
  width: 180px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #49B4BB;

  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}

button[type="submit"]:hover {
  border-color: #c3c3c3;
}

.icon {
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 700;
}

button[disabled] {
  background: #D9F1F3;
}
