<div class="input-icons">
  <input
    [ngClass]="form.controls[name].errors?.['required'] ? 'has-error' : ''"
    class="input-field"
    name="{{ name }}"
    [type]="showPassword ?  'text' : 'password'"
    placeholder="{{ title }}"
    formControlName="{{ name }}"
    required
  />
  <fa-icon (click)="changeViewPassword()" class="icon" [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
  <div
    *ngIf="form.controls[name].invalid && (form.controls[name].dirty || form.controls[name].touched)"
    class="invalid-feedback">
    <div *ngIf="form.controls[name].errors?.['required']">
      {{ required }}
    </div>
  </div>
</div>
